<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      body {
        background-color: lightcyan
      }

      hr {
        border-style: dotted;
        border-color: indianred;
        border-width: 8px;
        width: 70px;
        height: 70px;
        background-color: indianred;
      }

      img {
        height: 10px;
        width: 10px;
      }
    </style>
  </head>
  <body>

  </body>
</html>
